extends layout

block content

  // ---------------------------------------------------------------
  // -                         CAROUSEL                            -
  // ---------------------------------------------------------------

  // CAROUSEL CONTAINER
  div#crsl.carousel.slide
  
    // CAROUSLE INNER
    div.carousel-inner
    
      // (1) CAROUSEL FIRST SLIDE
      div.carousel1.carousel-item.active
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Welcome to Citizen Assembly!
          // TEXT
          h4.carousel-text
            | Citizen Assembly is a global community of people
            | aiming to praise democratic values and freedom of
            | expression, as well as make a change!

      // (2) CAROUSEL SECOND SLIDE
      div.carousel2.carousel-item
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Power to the People!
          // TEXT
          h4.carousel-text
            | We host online and in-real citizen assemblies
            | where we discuss and debate a wide variety of
            | topics to make our world better.

      // (3) CAROUSEL THIRD SLIDE
      div.carousel3.carousel-item
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Join us now!
          // TEXT
          h4.carousel-text
            | Help build a better democratic world by joining our
            | citizen assemblies! Scroll down to see a list of our
            | meetup groups and our calendar.

      // (4) CAROUSEL PREV BUTTON
      button.carousel-control-prev(type="button",
                                   data-bs-target="#crsl",
                                   data-bs-slide="prev")
        span.carousel-control-prev-icon

      // (5) CAROUSEL NEXT BUTTON
      button.carousel-control-next(type="button",
                                   data-bs-target="#crsl",
                                   data-bs-slide="next")
        span.carousel-control-next-icon

  // ---------------------------------------------------------------
  // -                        QUICK LINKS                          -
  // ---------------------------------------------------------------

  // QUICK LINKS CONTAINER
  div.row.quickies

    // (1) QUICK LINK FOR TEAM
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-team
      // TITLE
      h2 Our Team
      // INFO
      p Meet with our Citizen Assembly leaders
      // BUTTON
      a.btn.btn-secondary Meet the team

    // (2) QUICK LINK FOR CALENDAR
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-calendar
      // TITLE
      h2 Our Calendar
      // INFO
      p Check out our meeting schedule
      // BUTTON
      a.btn.btn-secondary Open calendar

    // (3) QUICK LINK FOR VIDEOS
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-videos
      // TITLE
      h2 Our Videos
      // INFO
      p Watch out videos on our facebook page
      // BUTTON
      a.btn.btn-secondary Watch videos

  // ---------------------------------------------------------------
  // -                       DIVIDER LINE                          -
  // ---------------------------------------------------------------

  hr(class="divider")

  // ---------------------------------------------------------------
  // -                     PROMOTIONAL VIDEO                       -
  // ---------------------------------------------------------------

  // PROMO CONTAINER
  div.text-center.promo
  
    // PROMO VIDEO INTRODUCTION TEXT
    div.promo-text
      h2
        | What is Citizen Assembly?
      p
        br
        | Watch our 1-minute promotional video to learn more about 
        | what we do at Citizen Assembly and how you can join us.
        br

    // INSERT NEW LINE
    br

    // VIDEO THUMBNAIL
    div.promo-video.promo-thumb(
      onclick="this.nextElementSibling.style.display='inline-block'; \
               this.style.display='none'")

    // YOUTUBE VIDEO
    iframe.promo-video.promo-youtube(
      type='text/html',
      src='https://www.youtube.com/embed/8zwmtHo8hfM',
      frameborder='0')

  // ---------------------------------------------------------------
  // -                       DIVIDER LINE                          -
  // ---------------------------------------------------------------

  hr(class="divider")

  // ---------------------------------------------------------------
  // -                       MEETUP GROUP                          -
  // ---------------------------------------------------------------

  div.row.meetup
    div.col-md-7
      h2.meetup-heading
        | Meet people, socialize, and build a community
      p.lead
        br
        | We organize online and in-person citizen assemblies at 
        | many places and cities all over the world. This includes 
        | US, Canadian, and European cities. We encourage you to join
        | our meetup groups to keep updated with our schedule.
        br
        br
      p.text-center
        a.btn.btn-primary Meetup groups
    div.col-md-5
      div.meetup-thumb

  // ---------------------------------------------------------------
  // -                       DIVIDER LINE                          -
  // ---------------------------------------------------------------

  hr(class="divider")

  // ---------------------------------------------------------------
  // -                       MEETUP GROUP                          -
  // ---------------------------------------------------------------

  div.row.featurette.partners
    div.col-md-7.order-md-2
      h2.featurette-heading
        | Partners from all over the world
      p.lead
        br
        | We managed to build great partnership with manu other
        | philosophy, politics, and human-rights group all over
        | the world. Click on the button below to know more about
        | our partners.
        br
        br
      p.text-center
        a.btn.btn-primary Our partners
    div.col-md-5.order-md-1
      div.partners-thumb
