extends layout

block content

  // ---------------------------------------------------------------
  // -                         CAROUSEL                            -
  // ---------------------------------------------------------------

  // CAROUSEL CONTAINER
  div#crsl.carousel.slide
  
    // CAROUSLE INNER
    div.carousel-inner
    
      // (1) CAROUSEL FIRST SLIDE
      div.carousel1.carousel-item.active
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Welcome to Citizen Assembly!
          // TEXT
          h4.carousel-text
            | Citizen Assembly is a global community of people
            | aiming to praise democratic values and freedom of
            | expression, as well as make a change!

      // (2) CAROUSEL SECOND SLIDE
      div.carousel2.carousel-item
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Power to the People!
          // TEXT
          h4.carousel-text
            | We host online and in-real citizen assemblies
            | where we discuss and debate a wide variety of
            | topics to make our world better.

      // (3) CAROUSEL THIRD SLIDE
      div.carousel3.carousel-item
        // CAPTION
        div.carousel-caption.text-start
          // TITLE
          h1.carousel-title
            | Join us now!
          // TEXT
          h4.carousel-text
            | Help build a better democratic world by joining our
            | citizen assemblies! Scroll down to see a list of our
            | meetup groups and our calendar.

      // (4) CAROUSEL PREV BUTTON
      button.carousel-control-prev(type="button",
                                   data-bs-target="#crsl",
                                   data-bs-slide="prev")
        span.carousel-control-prev-icon

      // (5) CAROUSEL NEXT BUTTON
      button.carousel-control-next(type="button",
                                   data-bs-target="#crsl",
                                   data-bs-slide="next")
        span.carousel-control-next-icon

  // ---------------------------------------------------------------
  // -                        QUICK LINKS                          -
  // ---------------------------------------------------------------

  // QUICK LINKS CONTAINER
  div.row.quickies

    // (1) QUICK LINK FOR TEAM
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-team
      // TITLE
      h2 Our Team
      // INFO
      p Meet with our Citizen Assembly leaders
      // BUTTON
      a.btn.btn-secondary Meet the team

    // (2) QUICK LINK FOR CALENDAR
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-calendar
      // TITLE
      h2 Our Calendar
      // INFO
      p Check out our meeting schedule
      // BUTTON
      a.btn.btn-secondary Open calendar

    // (3) QUICK LINK FOR VIDEOS
    div.col-lg-4
      // CIRCLE
      div.rounded-circle.circle.circle-videos
      // TITLE
      h2 Our Videos
      // INFO
      p Watch out videos on our facebook page
      // BUTTON
      a.btn.btn-secondary Watch videos

  // ---------------------------------------------------------------
  // -                       DIVIDER LINE                          -
  // ---------------------------------------------------------------

  hr(class="divider")

  // ---------------------------------------------------------------
  // -                     PROMOTIONAL VIDEO                       -
  // ---------------------------------------------------------------

  // PROMO CONTAINER
  div.text-center.promo
  
    // HEADING TO GRAB ATTENTION
    h2
      | What is Citizen Assembly?

    // INFO ABOUT PROMO
    p
      br
      | Watch our promotional video to learn what we do at Citizen
      br
      | Assembly and how you can join us.
      br

    // YOUTUBE VIDEO
    iframe.video(type='text/html',
                 src='https://www.youtube.com/embed/8zwmtHo8hfM?autoplay=1',
                 frameborder='0')
