doctype html
html
  // *******************************************************************
  // *                          HTML HEAD                              *
  // *******************************************************************
  head
  
    // PAGE TITLE
    title Citizen Assembly

    // PAGE METADATA
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Citizen Assembly')
    meta(name='author' content='Cezary Jurewicz')

    // PAGE LINKS
    link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/tui-time-picker.min.css')
    link(rel='stylesheet', href='/css/tui-date-picker.min.css')
    link(rel='stylesheet', href='/css/tui-calendar.min.css')
    link(rel='stylesheet', href='/css/calendar-icons.css')
    link(rel='stylesheet', href='/css/calendar-style.css')
    link(rel='stylesheet', href='/css/page-style.css')

  // *******************************************************************
  // *                          HTML BODY                              *
  // *******************************************************************
  body

    // =================================================================
    // =                       BODY HEADER                             =
    // =================================================================
    header

      // NAVIGATION BAR
      nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.bg-dark

        // MENU BOTTON
        button.navbar-toggler.collapsed(type="button",
                                        data-bs-toggle="collapse",
                                        data-bs-target="#navbarList",
                                        aria-controls="navbarCollapse",
                                        aria-expanded="false",
                                        aria-label="Toggle navigation")
          span.navbar-toggler-icon

        // BRAND NAME
        div.navbar-brand Citizen Assembly

        // NAVIGATION MENU
        div#navbarList.navbar-collapse.collapse
          ul.navbar-nav
            li.nav-item
              a.d-flex.nav-link(href="/", class=home)
                div.nav-icon.nav-icon-home
                span.nav-text Home
            li.nav-item
              a.d-flex.nav-link(href="/team", class=team)
                div.nav-icon.nav-icon-team
                span.nav-text Team
            li.nav-item
              a.d-flex.nav-link(href="/calendar", class=calendar)
                div.nav-icon.nav-icon-calendar
                span.nav-text Calendar
            li.nav-item
              a.d-flex.nav-link(href="/videos", class=videos)
                div.nav-icon.nav-icon-videos
                span.nav-text Videos
            li.nav-item
              a.d-flex.nav-link(href="/meetups", class=meetups)
                div.nav-icon.nav-icon-meetups
                span.nav-text Meetups
            li.nav-item
              a.d-flex.nav-link(href="/partners", class=partners)
                div.nav-icon.nav-icon-partners
                span.nav-text Partners
            li.nav-item
              a.d-flex.nav-link(href="/admin", class=admin)
                div.nav-icon.nav-icon-admin
                span.nav-text Admin
            li.nav-item
              a.d-flex.nav-link(href="/donate", class=donate)
                div.nav-icon.nav-icon-donate
                span.nav-text Donate

        // LOGO
        div.navbar-logo

    // =================================================================
    // =                        BODY MAIN                              =
    // =================================================================
    main
      block content

    // =================================================================
    // =                       BODY FOOTER                             =
    // =================================================================
    footer
    
      // FOOTER BOX
      div.text-center.bg-dark.footer-container

        // FOOTER TEXT
        p.text-white.footer-text
          | Copyleft (C) &nbsp;
          span.footer-brand Citizen Assembly
          br
          | General Public License v3

        // FOOTER BRAND
        div.footer-logo

    // =================================================================
    // =                        JAVASCRIPTS                            =
    // =================================================================
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    block scripts
